<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>둘도서관<span>.</span></h1>
      </a>
      <!-- navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html">홈</a></li>
          <li><a href="member.html">회원관리</a></li>
          <li><a href="book.html">도서관리</a></li>
          <li><a href="borrow.html">도서대출관리</a></li>
          <li><a href="login.html">로그인</a></li>
        </ul>
      </nav>
      <!-- End navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  <!-- End Header -->