<!-- ======= BookList Section ======= -->
<section id="booklist" class="booklist">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>이번 달 추천 도서</h2>
    </div>

    <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        {% for book in site.data.recomend-booklist %}
        <!-- Start BookList item -->
        <div class="swiper-slide">
          <div class="book-wrap">
            <div class="book-item">
              <div class="d-flex align-items-center">
                <img src="{{ book.image }}" class="book-img flex-shrink-0" alt="">
                <div>
                  <h3>{{ book.title }}</h3>
                  <h4>{{ book.author }}</h4>
                  <div class="stars">
                    {% for star in (1..book.rating) %}
                    <i class="bi bi-star-fill"></i>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                {{ book.description }}
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>
        </div>
        <!-- End BookList item -->
        {% endfor %}

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
<!-- End booklist Section -->
