---
layout: center
---

<style>
    #layout {
        display:flex;
        height: 100%;
    }

    #side {
        width: 300px;
        flex-shrink: 0;
        background-color: #4527a0;
    }

    #main {
        flex-grow: 1;
        display:flex;
        flex-direction: column;
    }
    #header {
        width: 100%;
        background-color: #512da8;
    }
    #contents {
        width: 100%;
        flex-grow: 1;
        background-color: #5e35b1;
    }
    #footer {
        width: 100%;
        background-color: #673ab7;
    }
</style>

<div id="layout">
    <div id="side">
        {% include side.html %} 
    </div>
    <div id="main">
        <div id="header">
            {% include header.html %}
        </div>
        <div id="contents">
            {{content}}
        </div>
        <div id="footer">
            {% include footer.html %} 
        </div>
    </div>
</div>

